@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Main Visual css */
.main-visual {
  width: 100%;
  height: 100vh;
  background-image: url("../img/s_visual_bg2.jpg");
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 140px;
}
.main-visual .text-box span {
  display: block;
}
/* Header css */
.main-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgba(31, 53, 113, 0.5);
  transition: 0.5s;
}

/*미래교육원 로고 css*/
.logo {
  margin-top: 20px;
  /* margin-right: 100px; */
  margin-left: 100px;
}

/*어린이이미지 css*/
.imgbox img {
  width: 1200px;
  border-radius: 200px;
  object-fit: cover;
}

.text-box {
  max-width: 600px;
  padding: 20px;
}

.text-box h2 {
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 20px;
  font-weight: 400;
  color: #fff;
}

.text-box h2 span {
  font-size: 50px;
  color: #ffd800;
  font-weight: 900;
}

.text-box p {
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
}

/*메뉴 오른쪽 css*/
.menu {
}
.menu-right {
  display: flex;
  justify-content: flex-end;

  border-radius: 10px;
  margin-bottom: 20px;
}
.menu-right ul {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.menu-right ul li a {
  color: #fff;
  text-decoration: none;
}
.menu-center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-center > li {
  position: relative;
}
.menu-center > li .sub {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
}
.menu-center > li .sub.on {
  height: 200px;
}
.menu-center > li .sub li a {
  color: #fff;
  line-height: 30px;
}
/* 메뉴 a 스타일 css */
.menu-center > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  display: block;
}

/* container css*/
.news {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1200px;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  height: 85px;
  margin: 30px auto 0;
}
.news p {
  line-height: 80px;
}
.news p img {
  width: 50px;
  vertical-align: middle;
}
.news .btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/*공지사항이름*/
.news .news_tit {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  font-weight: 700;
  color: #222;
  font-size: 30px;
  margin-right: 40px;
  margin-left: 25px;
}

/*공지사항 내용*/
.news .news_txt {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
  color: #222;
  font-size: 20px;
}

/* 화살표 버튼 */
.arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrow img {
  width: 18px;
  height: auto;
}
.con {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  /* height: 400px; */
  gap: 20px;
}
/* 이용안내 scc */
.watch {
  width: 40%;
  /* height: 100%; */
  background-color: #3aa1da;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
.watch li {
  display: flex;
  padding: 10px 25px;
}
.watch h3 {
  font-size: 30px;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
}
.watch .col li p {
  display: inline-block;
  /* width: 70px; */
  /* height: 25px; */
  text-align: center;
  /* line-height: 25px; */
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  background: #237eb0;
  color: #fff;
  margin-right: 20px;
}
.watch .col li.con1 p {
  display: inline-block;
  /* width: 70px; */
  /* height: 25px; */
  text-align: center;
  /* line-height: 25px; */
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 20px;
  background: red;
  color: #fff;
}
.watch .col li span {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: #000;
}
.watch .col li.con1 span {
  color: red;
}

.watch .timeImg {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.con > div:nth-child(2) {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*Online css*/
.Online {
  /* display: flex; */
  background: #a65aa3;
  border-radius: 20px;
  width: 100%;
  /* height: 250px; */
  /* margin-bottom: 50px;
  margin-top: 50px; */
}
.Online h3 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  padding: 20px 30px;
  text-align: center;
}

/*회차별 접수 css*/
.time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}
.time li {
  flex: 1 0 40%;
  padding: 10px 14px;
  text-align: center;
}
.time li > p {
  margin-bottom: 20px;
}
.time li a {
  display: inline-block;
  /* width: 70px; */
  /* height: 25px; */
  text-align: center;
  /* line-height: 25px; */
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 15px;
  background: #d2d0d0;
}
.time li.greenbg a {
  background: #adca37;
}
.cur {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

/*메뉴박스 css*/
.meumbox {
  display: flex;
  gap: 20px;
}
.meumbox .item {
  /* height: 300px; */
  flex: 1;
  background: linear-gradient(135deg, #d4fc79, #96e6a1);
  border-radius: 20px;
  padding: 20px 0;
}
.item .icon {
  text-align: center;
}
.item .icon img {
  width: 96px;
  height: 96px;
}
.item .icon p {
  justify-content: center;
  font-size: 20px;
}

/*로그존 css*/
.text-wrap .title {
  display: flex;
  align-items: flex-end;
  padding-left: 350px;
  margin-top: 20px;
  overflow: hidden;
}
.title img {
  width: 100px;
  height: 100px;
}
/* 배경 이미지 영역*/
.secondwap {
  background: url("../img/m_reserve_bg2.png");
  background-repeat: no-repeat; /*배경이미지 반복되는 방식을 결정 */
  background-position: center top;
  /*배경 이미지가 요소 안에서 어느 위치에 놓일지를 결정하는 속성 */
  background-size: cover; /* 구름 배경 꽉 채우기 */
  padding: 120px 100px 180px;
  text-align: center;
}

/* 제목 */
.second h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 800;
  margin-bottom: 60px;
  margin-top: 100px;
  text-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}
.second h2 span {
  color: #6a5cff;
}

/* 카드들을 한 줄에 배치 (공지 + 후기) */
.cards,
.Reviews {
  display: inline-block;
  vertical-align: top;
}

/* 카드 전체 정렬 */
.cards {
  margin-right: 30px;
}

/* 공지사항 카드 */
.notice {
  background: #fff88a;
  border-radius: 20px;
  padding: 25px;
  width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-align: left;
}

/* 후기 카드 */
.Reviews {
  background: #7986f0;
  border-radius: 20px;
  padding: 25px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-align: left;
}

/* 카드 제목 */
.notice h2,
.Reviews h2 {
  font-size: 22px;
  color: #2c2c2c;
  margin-bottom: 10px;
}

.notice h2 .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  transition: 0.3s;
}
.notice h2 .icon:hover {
}

/* 표 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 6px 0;
  font-size: 15px;
}

.table td:last-child {
  text-align: right;
  color: #444;
}

/* 링크 스타일 */
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: underline;
}

/*하단*/

.footer {
  width: 100%;
  background: url("../img/footer_bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 60px 0;
}

.footer-inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer .logoimg img {
  width: 200px;
  display: block;
}

.right-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-menu {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-menu li a {
  color: #545050;
  text-align: center;
  font-size: 15px;
}
.address {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.copy {
  font-size: 13px;
  color: #666;
  margin: 0;
}
