@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  background: #fff;
  color: #fff;
}

/* Header */
.main-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 28px;
  list-style: none;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* Main Visual */
.main-visual {
  width: 100%;
  height: 100vh;
  background: url("../portfolio/imgs/img/s_visual_bg2.jpg") no-repeat
    center/cover;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 140px;
}

.text-box {
  max-width: 600px;
}

.text-box h2 {
  font-size: 42px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.text-box h2 span {
  color: #ffd800;
  font-weight: 900;
}

.text-box p {
  font-size: 18px;
  line-height: 1.6;
}
