@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
input {
  display: none;
}
/* section {
  height: 100vh;
  position: sticky;
  top: 0;
} 
section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 0;
  top: 0;
}*/

#fullmenu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 500px;
  height: 100%;
  background: #fff;
  transition: 0.5s;
  z-index: 1;
}
#fullmenu ul {
  position: absolute;
  top: 20%;
  left: 10%;
}
#fullmenu ul li {
  margin: 25px 0;
}
#fullmenu ul li a {
  font-size: 27px;
}

section {
  height: 100vh;
}
section.visual {
  position: relative;
  background-image: url("../imges/bg_about.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}
section.visual nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1720px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 1;
}

/*top 상단 로고 */
section.visual nav .logo {
  width: 150px;
}
section.visual nav .logo img {
  width: 100%;
  filter: none !important;
}

/*--------------------------------
중간 로고 
----------------------------------*/

.logo_area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.logoimg img {
  display: block; /* 이미지 아래 여백 제거 */
  width: 430px; /* 로고 크기 조절 */
  height: auto;
  margin-left: 100px;
}

/* 중간 로고 텍스트 박스 */
.visual .logo_area .txt_box p {
  font-size: 36px;
  margin: 0;
  font-weight: 300;
  margin-left: 100px;
  margin-top: 60px;
}

.visual .logo_area .txt_box p samp {
  font-weight: 600;
  margin-right: 4px;
}

.visual .logo_area .txt_box h4 {
  font-size: 72px;
  margin: 0;
  margin-left: 100px;
  margin-bottom: 5px;
}
/*--------------------------
글라스락에 대한 첫번째 설명 
----------------------------*/
.sub_cont .con1 .inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*feature 가운데 있다가 옆으로 감*/
  gap: 100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 300px 40px 20px;
  box-sizing: border-box;
}

.sub_cont .con1 img {
  width: 380px;
  height: auto;
  display: block;
}

.sub_cont .con1 .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub_cont .con1 .txt h4 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}
.sub_cont .con1 .txt span {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: #444;
  margin-top: 10px;
}
.sub_cont .con1 .txt em {
  position: relative;
  padding-right: 10px;
}

/* feature – 작은 설명 */
.sub_cont .con1 .feature {
  font-size: 15px;
  color: #777;
  text-align: center;
  margin-top: 5px;
  margin-left: 250px;
  /* margin-bottom: 20px; */
}
.sub_cont .con1 .feature span {
  display: block;
}

/*--------------------------
글라스락에 대한 두번째 설명 
----------------------------*/

/*-------------------------------------
글라스몰,네이버스토어,esg 아이콘 css
---------------------------------------*/
section.visual nav .right {
  display: flex;
  gap: 40px;
  align-items: center;
}
section.visual nav .right .mall {
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border: 1px solid #fff;
  border-radius: 30px;
}
section.visual nav .right .mall a {
  color: #fff;
}
section.visual nav .right .mall img {
  width: 20px;
  height: 20px;
  filter: invert();
  vertical-align: middle;
}
section.visual nav .right .lang a {
  color: #fff;
  display: block;
  /* text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 10px; */
  border-bottom: 1px solid #fff;
  padding: 10px;
}
section.visual nav .right .hambuger label {
  cursor: pointer;
}
section.visual nav .right .hambuger label span {
  display: block;
  width: 35px;
  height: 2px;
  background: #fff;
  margin: 9px 0;
  transition: 0.5s;
}
section.visual h1 {
  color: #fff;
  font-size: 90px;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar1 {
  transform: translate(0, 11px) rotate(45deg);
  background: #000;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar2 {
  opacity: 0;
}
#menu:checked ~ section.visual nav .right .hambuger label span.bar3 {
  transform: translate(0, -11px) rotate(-45deg);
  background: #000;
}
#menu:checked ~ #fullmenu {
  right: 0;
}
#menu:checked ~ section.visual::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 500px);
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
}
#mall_btn {
  position: fixed;
  right: 100px;
  bottom: 50px;
  cursor: pointer;
}
#mall_btn ul {
  border-radius: 40px 40px;
  background: #173d81;
  height: 85px;
  overflow: hidden;
  transition: 0.3s;
}
#mall_btn ul li {
  width: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: #fff;
  padding-top: 25px;
}
#mall_btn ul li img {
  width: 32px;
  height: 32px;
}
#mall_btn ul li:nth-child(3) img,
#mall_btn ul li:nth-child(4) img {
  filter: invert();
}
#mall_btn:hover ul {
  height: 240px;
}
#mall_btn:hover ul li:first-child {
  display: none;
}
/*-------------------------------------
글라스몰,네이버스토어,esg 아이콘 css 끝 
---------------------------------------*/

/*---------------------------------------
푸터 부분 css
-----------------------------------------*/
#max_footer {
  padding: 50px 0;
  background: #fff;
  font-family: "Pretendard", sans-serif;
  font-size: 15px;
}

.gnb_inner {
  max-width: 1720px;
  /* margin: 0 auto;
  display: flex; */
  justify-content: space-between;
  align-items: flex-start;
  padding: ;
}

/* 왼쪽 구성 */
.footer_left img {
  width: 150px;
  margin-bottom: 20px;
}

.footer_info .fline li {
  margin-bottom: 5px;
  line-height: 1.5;
}

/* 오른쪽 구성 */
.footer_right {
  text-align: right;
}

.link_sns {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.link_sns img {
  width: 25px;
  height: 25px;
}

.family_site button {
  padding: 5px 15px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

.copy {
  font-size: 13px;
  color: #666;
}
