@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  list-style: none;
}

.wrap {
  text-align: center;
  background: #f7f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px 0 20px 0;
}

/*header top*/
.tk-header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background: #fff;
}

/*추후 수정 */
svg {
  /*width: 100%; */
  width: 280px;
  height: 200px;
  padding-bottom: 20px;
}
.st1 {
  fill: #f7c86a;
}

/*Index 타이틀*/
.title h1 {
  font-size: 80px;
  color: #000;
  margin-bottom: 20px;
}

/* intro 태그 */
.intro-area {
  width: 420px; /* 이미지 비율에 맞게 */
  /* margin: 20px auto; */
}

/* intro ul 기본 설정 */
.intro-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 12px;
}

/* intro li 기본 설정 */
.intro-list li {
  padding: 8px 18px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 999px;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s;
}
/* hover → 노란색 */
.tag-list li:hover {
  background: #f7c86a;
  color: #000;
}

/* 푸터 */
.bottom-footer {
  width: 100%;
  text-align: center;
  padding: 14px 0;
  font-size: 14px;
  /* background: #fff; */
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  color: #000;
}
