@charset "utf-8";
@font-face {
  font-family: "MungyeongGamhongApple";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  list-style: none;
}
#thewrap {
  background: #f7f3f3;
}
/*----------------------------------------------------
              top 부분
----------------------------------------------------*/
.wrap {
  text-align: center;
  background: #f7f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px 0 20px 0;
}

/*header top*/
.tk-header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background: #fff;
}

/*추후 수정 */
svg {
  /*width: 100%; */
  width: 280px;
  height: 200px;
  padding-bottom: 20px;
}
.st0 {
  fill: #cbbdb9;
  animation: svgcolor 3s infinite alternate;
}
@keyframes svgcolor {
  0% {
    fill: #cbbdb9;
  }
  50% {
    fill: #d2b48c;
  }
  100% {
    fill: #ffcb62;
  }
}

.title p {
  font-size: 60px;
  font-weight: 500;
  color: rgb(255, 199, 130);
  display: block;
  margin-bottom: 6px;
  font-family: MungyeongGamhongApple;
}

/*WED 타이틀*/
.title h1 {
  font-size: 60px;
  color: rgb(255, 199, 130);
  font-family: MungyeongGamhongApple;
}

/*DESIGNER 아웃라인*/
.title span {
  font-size: 80px;
  -webkit-text-stroke: 1px rgb(255, 199, 130);
  color: transparent;
}

/* index 태그 */
.index-area {
  width: 420px; /* 이미지 비율에 맞게 */
  margin: 20px auto;
}

/* index ul 기본 설정 */
.index-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

/* index li 기본 설정 */
.index-list li {
  padding: 8px 18px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 999px;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s;
}

/* hover → 노란색 */
.index-list li:hover {
  background: #f7c86a;
  color: #000;
}

/*인덱스 css*/
.index-area {
  width: 420px; /* 이미지 비율에 맞게 */
  margin: 20px auto;
}

/* ul 기본 설정 */
.index-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.index-list li {
  padding: 8px 18px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 999px;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s;
}

/* hover → 노란색 */
.index-list li:hover {
  background: #f7c86a;
  color: #000;
}

/*----------------------------------------------------
                 ABOUT ME 부분
----------------------------------------------------*/

.about-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background: #f7f3f3;
  border-radius: 12px;
  padding: 40px 40px 50px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
  gap: 30px 40px;
}

/*카드전체*/
.profile-card {
  width: 300px;
  height: 500px;
  background: #ffc95b;
  border-radius: 0 0 50px 50px;
  padding: 35px 25px 45px;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/*이미지 가운데 배치 */
.profile-img {
  display: flex;
  justify-content: center;
}

/*이미지 크기 */
.profile-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 18px;
}

/*이름 정렬*/
.name {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.name span {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin-left: 5px;
}

/*아이콘 정렬*/
.info-list img {
  width: 30px; /* 원하는 크기 */
  height: auto;
}

.info-list {
  margin: 20px 0 32px;
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin-right: 20px;
}
.info-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.profile-card .back ul li {
  align-items: center;
}

/* ---------------------------------------
   RIGHT : ABOUT ME
--------------------------------------- */

/*about-title,about-sub 부모요소*/
.about-box {
  grid-column: 2;
  margin-left: 50px;
  margin-top: 10px;
}

.about-title {
  font-size: 60px;
  color: #ffcb62;
  font-weight: 700;
  margin-bottom: 30px;
  display: flex;
}

.about-sub {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-sub span {
  font-size: 30px;
  font-weight: 700;
  color: #f6a100;
  white-space: nowrap;
}

.about-sub p {
  font-size: 25px;
  color: #777;
  line-height: 1.4;
}
/* ---------------------------------------
   아래 2컬럼 (학력, 교육, 자격사항)
--------------------------------------- */
.contents {
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 10px;
}

.contents h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffcb62;
  margin-bottom: 10px;
}

.contents p {
  font-size: 15px;
  color: black;
  margin-bottom: 6px;
}
.co2 {
  width: 100px;
  margin-top: 15px;
}

/* 푸터 */
.bottom-footer {
  width: 100%;
  text-align: center;
  padding: 14px 0;
  font-size: 14px;
  /* background: #fff; */
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  color: #000;
}
