@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#wrap nav > ul {
  display: flex;
  gap: 40px;
}
#wrap nav > ul.menu {
  font-size: 20px;
  font-weight: bold;
}
section {
  height: 100vh;
  position: sticky;
  top: 0;
}
section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
section .txt {
  position: relative;
  height: 100%;
  z-index: 1;
}
section .txt h1 {
  font-size: 70px;
  color: #fff;
  position: absolute;
  right: 5%;
  top: 20%;
  line-height: 1;
}
section .txt p {
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 10%;
}
footer {
  height: 1000px;
  background: #000;
  position: relative;
  z-index: 1;
}
